<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration：对mybatis的配置 -->
<configuration>
	<!-- 取别名 -->
	<typeAliases>
		<!-- alias:取得别名 -->
		<typeAlias type="com.MY.pojo.Student" alias="student"/>
	</typeAliases>
	<environments default="development">
	<!-- mybatis对于数据库环境的选择  ，正常情况下数据库环境有三种：开发环境、测试环境、产品发布上线环境 -->
		<environment id="development">
		      <transactionManager type="JDBC"/>
		      <dataSource type="POOLED">
		        <property name="driver" value="com.mysql.jdbc.Driver"/>
		        <property name="url" value="jdbc:mysql://localhost:3306/db_school"/>
		        <property name="username" value="root"/>
		        <property name="password" value="root"/>
		      </dataSource>
	    </environment>
	</environments>
	<mappers>
		<!-- 引入 StudentMapper.xml-->
		<!-- <mapper resource="com/qianfeng/mapper/StudentMapper.xml"/> -->
		<!-- 引入接口文件 -->
		<mapper class="com.MY.mapper.StudentMapper"></mapper>
	</mappers>
</configuration>